
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #fff; /* <—– change your color here*/
background-color: transparent;
}
.nav-item .nav-link > .active > a:hover{
	color: #fff;
}
.right{
	position: absolute;
    right: 0px;
    padding: 10px;
}

.navbar-brand {
    padding-left: 5px;
    font-weight: 500;
    letter-spacing: 2px;
}