.logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

.header{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 50px 0 rgba(0, 0, 0, 0.19);
}

.c1 {
  background-color: #222222 !important ;
  color: #ffffff !important;
}

.c2{
  background-color:  #2BD1A3 !important ;
  color: #ffffff !important;
}
body{
  font-family: 'Roboto' !important;
  font-weight: 300;
}
.c2opa{
  background-color:  rgba(26, 179, 148, .2) !important ;
}
/*html,body,.container {
    height:100%;
    width: 100%;
}
.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; set left/right padding according to needs
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}*/
body {
    height: 100%;
    width: 100%;
    position: absolute;
}
.navbar-brand{
  padding-left: 20px;
}
.col-md-2 {
    padding-bottom: 100%;
    margin-bottom: -100%;
}
.DTM_I{
  background-color:rgba(78, 116, 177, 0.7);
}
.DES_I{
  background-color:rgba(223, 25, 25, 0.7);
}
.TRM_I{
  background-color:rgba(98, 218, 30, 0.7);
}
.DES_B{
  background-color:rgba(247, 117, 229, 0.7);
}
.BRN_I{
  background-color:rgba(41, 238, 252, 0.7);
}
.ABB_ORG_I{
  background-color:rgba(15, 172, 41, 0.7);
}
.BRN_B{
  background-color:rgba(44, 98, 214, 0.7);
}
.ORG_I{
  background-color:rgba(223, 191, 52, 0.7);
}
.PER_B{
  background-color:rgba(202, 58, 58, 0.7);
}
.LOC_B{
  background-color:rgba(119, 110, 196, 0.7);
}
.ABB_TTL_B{
  background-color:rgba(255, 0, 0, 0.7);
}
.ABB_DES_I{
  background-color:rgba(255, 123, 0, 0.7);
}
.TTL_B{
  background-color:rgba(255, 238, 0, 0.7);
}
.MEA_B{
  background-color:rgba(200, 255, 0, 0.7);
}
.NUM_B{
  background-color:rgba(166, 255, 2, 0.7);
}
.TRM_B{
  background-color:rgba(0, 255, 76, 0.7);
}
.MEA_I{
  background-color:rgba(0, 238, 255, 0.7);
}
.NUM_I{
  background-color:rgba(0, 174, 255, 0.7);
}
.ABB_B{
  background-color:rgba(255, 0, 170, 0.7);
}
.TTL_I{
  background-color:rgba(0, 26, 255, 0.7);
}
.ABB_LOC_B{
  background-color:rgba(246, 255, 122, 0.7);
}
.PER_I{
  background-color:rgba(122, 179, 255, 0.7);
}
.LOC_I{
  background-color:rgba(188, 117, 255, 0.7);
}
.ABB_LOC_I{
  background-color:rgba(131, 139, 255, 0.7);
}
.ABB_ORG_B{
  background-color:rgba(251, 122, 255, 0.7);
}
.O{
  background-color:rgba(0, 0, 0, 0.0);
}
.NAME_B{
  background-color:rgba(67, 255, 77, 0.7);
}
.ABB_DES_B{
  background-color:rgba(83, 0, 131, 0.7);
}
.DTM_B{
  background-color:rgba(0, 39, 124, 0.7);
}
.ORG_B{
  background-color:rgba(2, 175, 2, 0.7);
}
.ABB_TTL_I{
  background-color:rgba(87, 57, 255, 0.7);
}
.__{
  background-color:rgba(38, 104, 24, 0.7);
}
.X{
  background-color:rgba(199, 124, 124, 0.7);
}
.ABB_I{
  background-color:rgba(40, 182, 99, 0.7);
}
.ABB_PER_B{
  background-color:rgba(114, 141, 17, 0.7);
}
.MEA_BI{
  background-color:rgba(40, 192, 20, 0.7);
}
.PER_I{
  background-color:rgba(18, 15, 196, 0.7);
}


.postag{
  background-color:rgba(46, 125, 179, 0.7);
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
